@layer base {
  body {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }

  h1,
  h2,
  h3 {
    font-weight: var(--font-weight-bold);
    text-wrap: balance;
  }

  h1 {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }

  h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  h3 {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }

  p {
    max-inline-size: 70ch;
    text-wrap: pretty;
  }

  code {
    font-family: var(--font-mono);
  }
}
